@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1F2937;
  padding: 16px 196px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.hero {
  background-color: #1F2937;
  padding: 96px 196px;
  display: flex;
  justify-content: space-between;
}

/* .left,.right {
  max-width: 450px;
} */

.left {
  flex: 1;
  padding: 0;
  margin: 0;
  max-width: 425px;
}

button {
  background-color: #3882F6;
  padding: 8px 32px;
  border-radius: 8px;
  margin-top: 16px;
  border: 0;
  font-size: 18px;
  color: #E5E7EB;
  font-weight: bold;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.placeholder {
  height: 250px;
  width: 425px;  
}

.container {
  display: flex;
  gap: 52px;
}

.information {
  display: flex;
  padding: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.image-box {
  width: 150px;
  height: 150px;
  border: 5px solid #3882F6;
  border-radius: 16px;
}

.info-header {
  flex: 1;
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
}

.text { 
  max-width: 150px;
  padding: 8px 4px;
  font-size: 16px;
  color: grey;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #E5E7EB;
}

.quote {
  background-color: #E5E7EB;
  padding: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  flex: auto;
  font-weight: 300;
  max-width: 825px;
}

.quote-author {
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
  text-align: right;
  align-self: flex-end;
  padding-right: 128px;
}

.footer {
  background-color: #1F2937;
  height: 96px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E5E7EB;
}